* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  --board-size: max(min(100vh, 100vw), 300px);
  --cell-size: calc((var(--board-size) / 3) - 25px);
  --separator-size: max(calc(var(--board-size) * 0.005), 2px);
  --shadow-size: calc(var(--separator-size) * 2.5);
  --marker-size: calc((var(--cell-size) * 0.75) - var(--separator-size));
  --separator-color: #000;
  --shadow-color: #bdbdbd;
  --x-color: #81d4fa;
  --o-color: #fa8072;
  --game-status-text-color: #191970;
  --game-status-background-color: rgba(255, 255, 255, 0.4);
}

.tic-tac-toe-board,
.cell,
.success-pop {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tic-tac-toe-board {
  width: var(--board-size);
  height: var(--board-size);
  flex-wrap: wrap;
  padding: 37px;
  margin: 0 auto;
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  cursor: pointer;
  border-bottom: var(--separator-size) solid var(--separator-color);
  border-right: var(--separator-size) solid var(--separator-color);
}

.cell:nth-of-type(3n) {
  border-right: none;
}

.cell:nth-of-type(7),
.cell:nth-of-type(8),
.cell:nth-of-type(9) {
  border-bottom: none;
}

.cell:hover {
  box-shadow: 0 0 var(--shadow-size) var(--shadow-size) var(--shadow-color);
}

.cell.filled-in {
  cursor: default;
}

.cell.filled-in:hover {
  box-shadow: none;
}

.marker {
  width: var(--marker-size);
  height: var(--marker-size);
}

.x-marker {
  background-color: var(--x-color);
}

.o-marker {
  border-radius: 50%;
  background-color: var(--o-color);
}

.success-pop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(./images/win.gif), var(--game-status-background-color);
  background-position: center bottom, center;
  background-repeat: no-repeat;
  background-size: contain;
}

.game-status-text {
  text-align: center;
  color: var(--game-status-text-color);
  font-size: 4rem;
  font-family: monospace;
}

.success-pop.game-tied {
  display: flex;
  background: var(--game-status-background-color);
}
